* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  display: flex;
  background-color: #7f74ff;
  padding: 50px;
}

.header-text {
  margin: auto;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.content {
  margin: 50px;
}

.card-links {
  margin: 50px 0px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#speaking-clib-link {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/SpeakingClub.jpg);
  background-position: center;
  background-size: cover;
}

#english-clib-link {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/EnglishClub.jpg);
  background-position: center;
  background-size: cover;
}

#volleyball-club-link {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/VolleyballClub.jpg);
  background-position: center;
  background-size: cover;
}

#running-club-link {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/RunningClub.jpg);
  background-position: center;
  background-size: cover;
}

#tabletop-club-link {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/TabletopClub.jpg);
  background-position: center;
  background-size: cover;
}

#library-club-link {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/LibraryClub.jpg);
  background-position: center;
  background-size: cover;
}

#quiz-club-link {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/QuizClub.jpg);
  background-position: center;
  background-size: cover;
}

#pingpong-club-link {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/PingpongClub.jpg);
  background-position: center;
  background-size: cover;
}

.card-link {
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.card-link-button {
  padding: 20px;
  border-radius: 10px;
}

.card {
  width: 100%;
  padding: 20px;
  display: flex;
  margin-bottom: 50px;
}

.card-info {
  flex: 1;
  margin-right: 50px;
}

.card-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-header {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: x-large;
}

.card-text {
  margin-bottom: 10px;
}

.contact-link {
  text-decoration: none;
}

.contact-icon {
  width: 48px;
  height: 48px;
}

.card-image {
  display: flex;
  flex: 1;
  max-height: 600px;
}

.card-image-file {
  max-width: 100%;
  max-height: inherit;
  margin: auto;
}

.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: #75ccc2;
}

.author-info {
  margin: auto;
  font-size: larger;
  color: white;
}

.author-link {
  color: white;
}

@media (max-width: 800px) {
  .header {
    padding: 50px 10px;
  }

  .content {
    margin: 20px 10px;
  }

  .card {
    padding: 10px;
    flex-direction: column;
  }

  .card-info {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media (prefers-color-scheme: light) {
  .card {
    border: 1px solid black;
    box-shadow: 5px 5px 0 black;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border: 1px solid white;
    box-shadow: 5px 5px 0 white;
  }
}